{% extends 'polls/base.html' %}
{% load static %}

{% block title %} Teaware/news {% endblock %}

{% block content %}
<div id = "first">
 <div class = "grid-x align-center-middle">
   <span class = "cherry">This is News </span></div>
     <div class = "grid-x align-center-middle">
       <input id = "but1" type="button" value = "Politics"/>
       <input id = "but2" type="button" value = "Tech"/>
     </div>
</div>
{% endblock %}

{% block init %}
<style>
  #start
  {
    height: 40vh;
    width: 100%;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
  }
</style>

  <div id = "start" class = "grid-x align-center-middle">
    <p> This is the white inherited background!</p>
  </div>
{% endblock %}

{% block second %}
<div id = "second">
  <div class = "grid-x align-center-middle">
    <span class = "align">Don't forget to log in</span></div>
      <div class = "grid-x align-center-middle">
        <a id = "social2" href= "facebook.com"><img src = "{% static 'polls/images/face.png' %}" height="65" width="65" alt = "facebook"/></a>
        <a id = "social" href="twitter.com"><img src = "{% static 'polls/images/twitter.png' %}" height="65" width="65" alt = "twitter"/></a>
        <a id = "social" href="instagram.com"><img src = "{% static 'polls/images/insta.png' %}" height="65" width="65" alt = "insta"/></a>
        <a id = "social" href="pinterest.com"><img src = "{% static 'polls/images/pin.png' %}" height="65" width="65" alt = "pinterest"/></a>
      </div>
</div>
{% endblock %}
